h1 {
    color: #27aedb;
    text-align: center;
}

table {
    font-size: 31px;
    width: 100%;
    text-align: center;
    border: 4px double black;
}

table td {
    padding: 7px 11px;
    cursor: pointer;
    transition: all 0.7s;
    border: 4px groove black;
}

table td:hover {
    background: cyan;
}